---
layout: none
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vulcan Technologies LLC</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        midnight: '#0f172a', // Deep blue tone
                    },
                },
            },
        };
    </script>
</head>

  <body class="bg-midnight text-white font-sans min-h-screen flex flex-col">

    {% include header.html %}

    <!-- Hero Section -->
    <section class="py-24 bg-midnight">
      <div class="max-w-4xl mx-auto px-4 text-center">
        <h1 class="text-5xl font-extrabold text-white">
          404 Page Not Found
        </h1>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
